@font-face
   font-family 'Bangers'
   src url(../../fonts/Bangers-Regular.ttf)
   font-style normal

@font-face
   font-family 'Open Sans'
   src url(../../fonts/OpenSans-Regular.ttf)
   font-style normal

@font-face
   font-family 'Open Sans Bold'
   src url(../../fonts/OpenSans-Regular.ttf)
   font-style normal

// VARIABLE------------------

$openR = 'Open Sans', sans-serif;
$bangers = 'Bangers', cursive;

$blueNight = #353b48

// ------------------VARIABLE

// BASE------------------
*,*:before,*:after
   box-sizing border-box

a
   text-decoration: none

body
   margin 0
   font-size 14px
   font-family $openR
   &.pattern
      background-image: linear-gradient(rgba(0,0,0,0) 0,rgba(0,0,0,0) 1.26493px,#fff 1.26493px,#fff 12.6493px),linear-gradient(to right,#c8c3c7 0,#c8c3c7 1.26493px,#fff 1.26493px,#fff 12.6493px);
      background-position: 69.3526px 20.0521px;
      background-size: 12.6493px 12.6493px;

.col-1
   width 10%
   flex 1 1 auto

.col-2
   width 20%
   flex 1 1 auto

.col-3
   width 30%
   flex 1 1 auto

.col-4
   width 40%
   flex 1 1 auto

.col-5
   width 50%
   flex 1 1 auto

.col-6
   width 60%
   flex 1 1 auto

.col-7
   width 70%
   flex 1 1 auto
   
.col-8
   width 80%
   flex 1 1 auto

.col-9
   width 90%
   flex 1 1 auto

.col-10
   width 100%
   flex 1 1 auto

.container
   max-width 1360px
   padding-left 30px
   padding-right 30px
   margin-left auto
   margin-right auto



// ------------------BASE

// MODIFIER--------------

._flex
   display flex

._flex-wrap
   flex-wrap wrap

._just-btwn
   justify-content: space-between

._just-center
   justify-content: center

._just-end
   justify-content: flex-end;

._align-center
   align-items: center; 

._d-none
   display none

._pointer
   &:hover
      cursor pointer
// MODIFIER--------------

// COMMON---------------

.wrapper-collection
   display: grid
   grid-gap 50px

.wrapper-collection-item-image
   img
      width 100%
      height auto

.wrapper-collection-item-desc
   display: flex
   flex-direction: column
   font-family: $openR
   > *
      margin-bottom 15px
      &:last-child
         margin-bottom: 0

// ---------------COMMON


// HEADER----------------

header
   padding 10px 0
   border-bottom 1px solid $blueNight
   background white
   position relative
   &:after
      content ''
      position absolute
      height 10px
      width 100%
      bottom 0
      left 0
      box-shadow 0px 5px 10px -4px


.wrapper-menu
   ul
      display flex
      list-style-type none
      margin 0
      padding 0
      margin-right -20px
      li
         font-family $bangers
         font-size 24px
         letter-spacing: 1px
         > *
            color $blueNight
            padding 20px
            display: block

.form-login
   display none

.wrapper-logo
   img
      width 100px

// ----------------HEADER

// FOOTER----------------

footer
   background white
   position relative
   padding 20px 0
   border-top 1px solid black
   p
      font-family: $openR
      font-size 12px
   a
      font-family: $bangers
      font-size 18px
      line-height 34px
      color $blueNight
      letter-spacing: 1px
   ul
      list-style-type none
      padding 0
      margin 0
      margin-right 50px
      li
         display: flex
         flex-direction column
   &:after
      content ''
      position absolute
      height 10px
      width 100%
      top 0
      left 0
      box-shadow 0px -5px 10px -4px


// ----------------FOOTER

// CONTENT---------------

.content
   min-height 75vh

// ---------------CONTENT

// SECTION HOME----------

.wrapper-content-home
   padding 60px 0

.collection-home
   grid-template-columns: 1fr 1fr 1fr 1fr;
   .wrapper-collection-item
      padding 0
      border 1px solid rgba(0,0,0,0.5)
      border-radius 6px
   .wrapper-collection-item-desc
      padding 20px

// ----------SECTION HOME